{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
	<br>
	<h2>Welcome to our Cyber Security Quiz!</h2>
	<br>
	<p>This Security Quiz will test you on your knowledge on Cyber secuity. At the end of the quiz it will tell you if you're likely to be secured using the internet</p>
	<br>
    <p>Press on the start button below to start the secrutiy quiz.</p>
	<form action="/Q">
		<div class="d-flex justify-content-center bg-white mb-1">
			<button type="submit" class="btn btn-dark btn-md p-2" onClick="myTimer = setInterval(myCounter, 1000) " onClick="overTime()">Start</button>
		</div>
	</form>
	<div class="d-flex justify-content-center bg-white mb-1"> 
		<button type="button" class="btn btn-dark btn-md p-2" >Previous Results</button>
	</div>
	
{% endblock %}