{% extends "layout.html" %}

{% set active_page = "Page3" %}

{% block title %}Page3{% endblock %}

{% block content %}

	<!--page content-->

	<h2> Have you given anybody your password? </h2>

	<form action={{ url_for("page4") }} method ="post">
	<div class="form-check">
		<input type="radio" class="form-check-input" id="radio1" name="optradio3" value="option1" >
		<label class="form-check-label" for="radio1"> No I keep to myself. </label>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="radio2" name="optradio3" value="option2">
		<label class="form-check-label" for="radio2"> Only 1 or 2 people know. </label>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="radio3" name="optradio3" value="option3">
		<label class="form-check-label" for="radio2"> Of course, to anybody I see! </label>
	</div>
	<div class="form-check">
		<input type="radio" class="form-check-input" id="radio4" name="optradio3" value="option4">
		<label class="form-check-label" for="radio2"> Only to the people closest to me. </label>
	</div>
	
	<div class="d-flex justify-content-center bg-white mb-1">
		<button type="submit" class="btn btn-dark btn-md p-2" onclick="document.location='/P4'">Next</button>
	</div>
	</form>
	
	<p id="result">0</p>
		<script>
		var c = 0;
		myTimer = setInterval(overTimer, 1000)
		</script> 

{% endblock %}