{% extends "layout.html" %}

{% set active_page = "Quiz" %}

{% block title %}Quiz{% endblock %}

{% block content %}

	<form action="question1">
		<h2> Do you use the same password for every account you own? </h2>
		<div class="form-check">
			<input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" >a
			<label class="form-check-label" for="radio1"></label>
		</div>
		<div class="form-check">
			<input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">b
			<label class="form-check-label" for="radio2"></label>
		</div>
		<div class="form-check">
			<input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">c
			<label class="form-check-label" for="radio2"></label>
		</div>
		<div class="form-check">
			<input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">d
			<label class="form-check-label" for="radio2"></label>
		</div>
	
		<div class="d-flex justify-content-center bg-white mb-1">
			<button type="submit" class="btn btn-dark btn-md p-2">Next</button>
		</div>
	</form>
	

{% endblock %}